# Otimização da distribuição temporal de empregados em regime híbrido

O objetivo desse projeto é otimizar, através da utilização de algoritmos genéticos, a distribuição dos dias de trabalho presencial dos colaboradores de uma mesma empresa buscando:

1. Atingir o nível de ocupação do espaço desejado por dia da semana;
2. Garantir a alocação de gerências relacionadas nos mesmos dias de trabalho.

A lógica construída permite acomodar as seguintes restrições:

1. A capacidade física do espaço;
2. Ocupação desejada diferente por dia da semana;
3. Quantidade de dias presenciais exigidos diferente por gerência;
4. Fixação dos dias de trabalho presencial de determinadas gerências;
5. Seleção de combinações de dias não-permitidas;
6. Definição por pesos de qual critério de avaliação do objetivo é mais relevante (ocupação ou relacionamento entre gerências).

In [16]:
! pip install deap

Requirement already satisfied: deap in c:\users\u4dd\appdata\roaming\python\python312\site-packages (1.4.1)
Requirement already satisfied: numpy in c:\users\u4dd\appdata\roaming\python\python312\site-packages (from deap) (2.0.0)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import pandas as pd
import numpy as np
import random

from itertools import permutations

from deap import base
from deap import creator
from deap import tools
from deap import algorithms

### Leitura dos arquivos .csv de input

O projeto depende de dois arquivos .csv de input

- `pessoas_por_gerencia.csv`: esse arquivo deve possuir os IDs de cada gerência, a sua quantidade de pessoas e a quantidade de dias obrigatórios.
- `relacionamentos.csv`: esse arquivo deve possuir, para cada gerência, a lista de IDs das gerências relacionadas, ou seja, aquelas que preferencialmente devem estar nos mesmos dias de presencial.

In [18]:
# Lendo arquivos de input para obter quantidade de pessoas por gerência
df_pessoas_por_gerencia = pd.read_csv(
    'pessoas_por_gerencia.csv',
    sep=';',
    dtype={'ID': int, 'ID GG': int, 'Gerência': str, 'Classificação': str, 'Quantidade': int, 'Dias obrigatórios': int}
).fillna(0)

df_relacionamentos = pd.read_csv('relacionamentos.csv', sep=";")

### Constantes

In [19]:
QTD_DIAS_SEMANA = 5
COLUNAS_DIAS = ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta']
COLUNA_QTD = 'Quantidade' # Coluna do arquivo pessoas_por_gerencia com a quantidade

# Definindo constantes a partir dos arquivos lidos

QUANTIDADE_EMPREGADOS = df_pessoas_por_gerencia[COLUNA_QTD].sum()
COUNT_GERENCIAS = df_pessoas_por_gerencia['ID'].count()
MIN_ID_GERENCIA, MAX_ID_GERENCIA = df_pessoas_por_gerencia['ID'].min(), df_pessoas_por_gerencia['ID'].max()
DIAS_PRESENCIAIS_POR_GERENCIA = df_pessoas_por_gerencia['Dias obrigatórios'].to_list()

RELACIONAMENTOS = df_relacionamentos.set_index('ID').to_dict()['Relacionamentos']
RELACIONAMENTOS = {k: [int(n) for n in RELACIONAMENTOS[k].split(',')] for k in RELACIONAMENTOS.keys()}

### Inputs do usuário

In [20]:
# Capacidade máxima de pessoas
CAPACIDADE_PREDIO = 290

# Lista de inteiros que representam com a quantidade de dias da semana possíveis
# para distribuição.
QTD_DIAS_PRESENCIAIS_POSSIVEIS = [2, 3]

# Lista de combinações de dias proibidas. Cada combinação é uma lista de 5 booleanos
# representados por 0 ou 1, indicando se o dia da semana correspondente àquela posição 
# é permitido (1) ou não (0).
COMBINACOES_DIAS_PROIBIDAS = [
    # Combinações com dois dias de presencial
    [0,1,1,0,0], # obrigatório ter pelo menos segunda ou sexta
    [0,0,1,1,0], # obrigatório ter pelo menos segunda ou sexta
    [0,1,0,1,0], # obrigatório ter pelo menos segunda ou sexta
    [1,0,0,0,1], # proibir segunda e sexta
    [1,0,1,0,0], # sem terceirizados na quarta
    [0,0,1,0,1], # sem terceirizados na quarta
    # Combinações com três dias de presencial
    [0,1,1,1,0], # obrigatório ter pelo menos segunda ou sexta
    [1,0,0,1,1], # proibir segunda e sexta
    [1,1,0,0,1], # proibir segunda e sexta
    [1,0,1,0,1], # proibir segunda e sexta
]

# Ocupação do andar desejada por dia (representada por um valor percentual de 0 a 1
# aplicado ao dia da semana correspondente àquela posição)
OCUPACAO_DESEJADA_POR_DIA = np.array([0.9, 0.9, 1.0, 0.9, 0.9])

# Gerências que têm dias fixos. Cada chave é o índice da gerência e o valor é uma
# lista de 5 booleanos representados por 0 ou 1, indicando se o dia da semana 
# correspondente àquela posição é permitido (1) ou não (0).
GERENCIAS_FIXAS = {
    8: [1,1,1,0,0],
    12: [1,1,1,0,0],
}

# Pesos para nivelamento dos critérios de otimização usados na função objetivo
PESO_OCUPACAO = 1 # Peso do critério ocupação do andar
PESO_RELACIONAMENTOS = 1 # Peso do critério gerências relacionadas no mesmo dia

In [21]:
# Construindo combinações de dias dinamicamente para todas as quantidades obrigatórias de dias possíveis

QTD_DIAS_PRESENCIAIS_POSSIVEIS.sort()

combinacoes_dias = {}

for qtd_dias_presenciais in QTD_DIAS_PRESENCIAIS_POSSIVEIS:
    lista_dias = [1] * (qtd_dias_presenciais) + [0] * (QTD_DIAS_SEMANA - qtd_dias_presenciais)
    conjunto = set(permutations(lista_dias)) # uso do conjunto pra eliminar duplicatas
    combinacoes_dias[qtd_dias_presenciais] = [list(t) for _,t in enumerate(conjunto) if not list(t) in COMBINACOES_DIAS_PROIBIDAS]

print(combinacoes_dias)

{2: [[1, 1, 0, 0, 0], [0, 1, 0, 0, 1], [0, 0, 0, 1, 1], [1, 0, 0, 1, 0]], 3: [[0, 1, 0, 1, 1], [1, 1, 1, 0, 0], [0, 0, 1, 1, 1], [1, 0, 1, 1, 0], [0, 1, 1, 0, 1], [1, 1, 0, 1, 0]]}

### Geração de indivíduos

O indivíduo para esse problema é representado por uma matriz com N linhas e 5 colunas, sendo N a quantidade de gerências indicadas no arquivo `pessoas_por_gerencia.csv`. 

Cada linha da matriz representa uma gerência e cada coluna, um dia da semana. O valor de cada célula da matriz corresponde, portanto, à quantidade de pessoas da gerência trabalhando presencialmente naquele dia da semana.

Visando simplificar o problema, ao invés de realizar a seleção aleatória de cada um dos Nx5 valores durante a criação do indivíduo, decidiu-se selecionar aleatoriamente ***a combinação de dias de cada gerência*** e preencher a matriz a partir daí, multiplicando os valores da linha de cada gerência pela sua respectiva quantidade de pessoas.

Essa abordagem reduz significativamente a quantidade de indivíduos inválidos possíveis de serem gerados, diminuindo também a quantidade de restrições que precisam ser impostas no modelo e acelera a convergência. Antes de realizar a implementação em Python e `deap` foram feitas tentativas com o Solver que esbarraram em dificuldades oriundas justamente dessas condições.

In [22]:
# Função auxiliar para forçar a combinação das gerências com dias fixos 
def substituir_gerencias_fixas(individuo):
    new_ind = individuo
    for (id_gerencia, dias) in GERENCIAS_FIXAS.items():
        new_ind[id_gerencia] = (np.array(dias) * df_pessoas_por_gerencia[COLUNA_QTD][id_gerencia]).tolist()
    return new_ind

# Função geradora de indivíduos do algoritmo genético
def gerador_individuo(icls):
    combinacoes_por_gerencia = []
    for i in range(0, COUNT_GERENCIAS):
        qtd_dias_presenciais = DIAS_PRESENCIAIS_POR_GERENCIA[i]
        lista_combinacoes_dias_possiveis = combinacoes_dias[qtd_dias_presenciais]
        combinacoes_por_gerencia.append(random.choice(lista_combinacoes_dias_possiveis))

    combinacoes_por_gerencia = np.array(combinacoes_por_gerencia)
    pessoas_por_dia_da_semana_gerencia = combinacoes_por_gerencia * df_pessoas_por_gerencia[COLUNA_QTD].to_numpy()[:, None]
    
    individuo = substituir_gerencias_fixas(pessoas_por_dia_da_semana_gerencia.tolist())
    return icls(individuo)

### Função de restrição

Em função da simplificação empregada na geração do indivíduo, a única restrição que precisou ser implementada foi a obrigação de respeitar a ocupação máxima desejada de cada andar por dia, considerando os fatores inputados pelo usuário na variável `OCUPACAO_DESEJADA_POR_DIA`.

Retorna `true` se o individuo atender à função de restrição, `false` caso contrário.

In [23]:
def funcao_de_restricao(individuo):
    np_array = np.array(individuo)
    ocupacao_por_dia = np_array.sum(axis=0)
    andar_nao_lotado = ocupacao_por_dia <= OCUPACAO_DESEJADA_POR_DIA*CAPACIDADE_PREDIO
    return andar_nao_lotado.all()

### Função objetivo

A função objetivo avalia dois critérios de otimização:

1. Manter o prédio com ocupação o mais constante possível ao longo da semana, considerando a possível variação de ocupação desejada por dia informada em `OCUPACAO_DESEJADA_POR_DIA`
2. Atendimento aos relacionamentos informados no arquivo `relacionamentos.csv`

Foram feitas tentativas de otimização multi-objetivo com o DEAP, utilizando NSGA-II, conforme exemplos [1], [2] e [3]. Contudo, a biblioteca não conseguia lidar bem com as funções de restrição nesse cenário e diversos indivíduos que deveriam ser considerados inválidos (ocupação superava a capacidade do prédio) estavam compondo o pareto (ParetoFront) indicativo das melhores soluções.

- [1] https://deap.readthedocs.io/en/master/examples/ga_knapsack.html
- [2] https://advancedoracademy.medium.com/multi-objective-genetic-algorithms-moga-with-deap-ba1cb3578887
- [3] https://medium.com/@rossleecooloh/optimization-algorithm-nsga-ii-and-python-package-deap-fca0be6b2ffc

Uma investigação na internet retornou que houve em algum momento uma dificuldade realmente no desenvolvimento da biblioteca relacionado a esse ponto ([4]), mas não há relato sobre correções desse problema.

- [4] https://github.com/deap/deap/issues/30

Considerando essa restrição, a função objetivo foi modelada como a soma de dois fatores que variam entre zero e um: `fitness_ocupacao` e `fitness_relacionamentos`. Caso o usuário tenha interesse em dar um peso maior para algum desses fatores, ele pode fazê-lo alterando as variáveis `PESO_OCUPACAO` e `PESO_RELACIONAMENTOS`.

O fator `fitness_ocupacao` foi calculado usando a fórmula f(v)=exp(−v^k/s^k), em que `v` é a variância e `s` e `k` são constantes para ajustar quão rápido o valor converge para zero. Essa fórmula foi uma sugestão obtida em [5] como uma alternativa de medida de dispersão sempre com valor entre 0 e 1, a fim de mantê-la compatível com o outro objetivo.

- [5] https://math.stackexchange.com/questions/2833062/a-measure-similar-to-variance-thats-always-between-0-and-1

O fator `fitness_relacionamentos` foi calculado dividindo a "quantidade de relacionamentos respeitados" pela "quantidade total de relacionamentos informados". Para que um relacionamento seja respeitado, todos os colaboradores das duas gerências precisam estar presentes nos mesmos dias. Caso as duas gerências tenham quantidades diferentes de dias presenciais exigidos, vale o menor para essa avaliação.

In [24]:
def funcao_objetivo(individuo):
    # Fitness por ocupação do dia da semana
    np_array = np.array(individuo)
    ocupacao_por_dia = np_array.sum(axis=0)/(OCUPACAO_DESEJADA_POR_DIA*CAPACIDADE_PREDIO)
    fitness_ocupacao = np.exp(-np.var(ocupacao_por_dia)**2 / 0.01**2) # fórmula usada para medir a dispersão da ocupação por dia entre 0 e 1
    
    # fitness pelos relacionamentos
    qtd_relacionamentos_respeitados = 0
    # Para analisar se gerências relacionadas com quantidades diferentes de dias presenciais obrigatórios estão
    # presentes nos mesmos dias, o algoritmo começa pelas gerências com menos dias presenciais e soma a quantidade de
    # de pessoas de todas as gerências relacionadas em cada dia. Se houver uma quantidade de dias com a soma de pessoas
    # de todas as gerências igual à quantidade de dias presenciais exigido, então o relacionamento está sendo respeitado.
    # Na sequência, o algoritmo parte pra próxima quantidade de dias e descarta as gerências que já foram analisadas,
    # repetindo a lógica. 
    for qtd_dias_presenciais in QTD_DIAS_PRESENCIAIS_POSSIVEIS: # (lista de dias presenciais possíveis precisa estar ordenada)
        # Inicia filtrando apenas os relacionamentos das gerências que têm a quantidade de dias presenciais especificada
        gerencias_analisaveis = df_pessoas_por_gerencia[df_pessoas_por_gerencia['Dias obrigatórios'] == qtd_dias_presenciais]['ID']
        gerencias_descartadas = df_pessoas_por_gerencia[df_pessoas_por_gerencia['Dias obrigatórios'] < qtd_dias_presenciais]['ID']
        relacionamentos_analisaveis = {gerencia: RELACIONAMENTOS[gerencia] for gerencia in gerencias_analisaveis}
        for (gerencia, gerencias_relacionadas) in relacionamentos_analisaveis.items():
            indices = gerencias_relacionadas + [gerencia]
            # Excluindo gerências que não possuem dias obrigatórios suficientes
            indices = list(set(indices).difference(set(gerencias_descartadas)))
            # Se após a exclusão resta apenas o relacionamento consigo mesmo, não há nada a ser feito
            if len(indices) <= 1:
                qtd_relacionamentos_respeitados = qtd_relacionamentos_respeitados + relacionamento_respeitado
                continue
            # Soma a quantidade de pessoas por dia de todas as gerências relacionadas
            pessoas_relacionadas_por_dia = np_array[indices, :].sum(axis=0)
            # Soma o total de pessoas de todas as gerências relacionadas
            max_pessoas_relacionadas = df_pessoas_por_gerencia.iloc[indices][COLUNA_QTD].sum()
            # Avalia em quantos dias a quantidade de pessoas das gerências é igual ao somatório total de pessoas dessas
            # gerências. Caso a quantidade de dias for igual a quantidade de dias presenciais obrigatórios, o relacionamento
            # foi satisfeito.
            relacionamento_respeitado = len(pessoas_relacionadas_por_dia[pessoas_relacionadas_por_dia == max_pessoas_relacionadas]) == qtd_dias_presenciais
            qtd_relacionamentos_respeitados = qtd_relacionamentos_respeitados + relacionamento_respeitado

    fitness_relacionamentos = qtd_relacionamentos_respeitados / len(RELACIONAMENTOS)

    return fitness_ocupacao*PESO_OCUPACAO + fitness_relacionamentos*PESO_RELACIONAMENTOS,

### Função de mutação

Em alguns casos, conforme probabilidade de mutação informado na configuração do algoritmo (mutpb), o indivíduo sofrerá uma mutação, com a variação de algum dos seus cromossomos. Nesse caso, uma ou mais gerências terão a sua combinação de dias selecionada alterada.

No algoritmo implementado abaixo, temos uma probabilidade específica de cada cromossomo ser alterado (indpb), caso em que uma nova combinação de dias é sorteada. Importante atentar que, em função da restrição imposta pelo próprio problema, as gerências com dias fixos não podem sofrer mutação.

In [25]:
def mutacao(individuo, indpb):
    individuo_valido = False
    while not individuo_valido:
        new_ind = individuo
        for nr_gerencia in range(0, len(individuo)):
            if random.random() <= indpb and nr_gerencia not in GERENCIAS_FIXAS.keys():
                qtd_dias_presenciais = DIAS_PRESENCIAIS_POR_GERENCIA[nr_gerencia]
                lista_combinacoes_dias_possiveis = combinacoes_dias[qtd_dias_presenciais]
                novos_dias = np.array(random.choice(lista_combinacoes_dias_possiveis))
                mutacao = novos_dias*df_pessoas_por_gerencia[COLUNA_QTD][nr_gerencia]
                new_ind[nr_gerencia] = mutacao.tolist()
        individuo_valido = funcao_de_restricao(new_ind)
    return new_ind,

### Função de crossover

Para a função de crossover, foi necessário fazer uma modificação no método padrão do `deap` pois como cada linha (cromossomo) tem a quantidade de empregados de cada gerência trabalhando presencialmente por dia (coluna), não é possível simplesmente trocar as linhas de posição. Isso porque, ao fazer qualquer inversão nesse modelo, estaríamos levando a quantidade de colaboradores de uma gerência para outra, alterando as condições do problema.

Nesse cenário, a solução proposta foi obter a combinação de dias original de cada indivíduo e realizar o crossover deste objeto, respeitando, também, a restrição das gerências com dias fixados pelo usuário.

In [26]:
def crossover_two_point(icls, ind1, ind2):
    combinacao_dias_ind1 = pd.DataFrame(ind1).div(df_pessoas_por_gerencia[COLUNA_QTD], axis=0).fillna(0).astype(int)
    combinacao_dias_ind2 = pd.DataFrame(ind2).div(df_pessoas_por_gerencia[COLUNA_QTD], axis=0).fillna(0).astype(int)

    for qtd_dias_presenciais in QTD_DIAS_PRESENCIAIS_POSSIVEIS:
        gerencias_ind1 = combinacao_dias_ind1[(combinacao_dias_ind1 != 0).sum(axis=1) == qtd_dias_presenciais].index
        gerencias_ind2 = combinacao_dias_ind2[(combinacao_dias_ind2 != 0).sum(axis=1) == qtd_dias_presenciais].index
        
        ind1_parcial = combinacao_dias_ind1.iloc[gerencias_ind1][:].to_numpy()
        ind2_parcial = combinacao_dias_ind2.iloc[gerencias_ind2][:].to_numpy()

        size = min(len(ind1_parcial), len(ind2_parcial))

        cxpoint1 = random.randint(1, size)
        cxpoint2 = random.randint(1, size - 1)
        if cxpoint2 >= cxpoint1:
            cxpoint2 += 1
        else:  # Swap the two cx points
            cxpoint1, cxpoint2 = cxpoint2, cxpoint1

        ind1_parcial[cxpoint1:cxpoint2], ind2_parcial[cxpoint1:cxpoint2] \
            = ind2_parcial[cxpoint1:cxpoint2], ind1_parcial[cxpoint1:cxpoint2]
        
        combinacao_dias_ind1.loc[gerencias_ind1] = ind1_parcial
        combinacao_dias_ind2.loc[gerencias_ind2] = ind2_parcial
        
    ind1 = combinacao_dias_ind1.multiply(df_pessoas_por_gerencia[COLUNA_QTD], axis=0).values.tolist()
    ind2 = combinacao_dias_ind2.multiply(df_pessoas_por_gerencia[COLUNA_QTD], axis=0).values.tolist()

    ind1 = substituir_gerencias_fixas(ind1)
    ind2 = substituir_gerencias_fixas(ind2)

    return icls(ind1), icls(ind2)

### Configuração do deap

In [27]:
creator.create("Fitness", base.Fitness, weights=(1.0, ))
creator.create("Individual", list, fitness=creator.Fitness)

toolbox = base.Toolbox()
# Definir o gerador de numeros aleatórios de numeros inteiros entre o intervalo de IDs de gerência
toolbox.register("rand_int_gerencia_function", random.randint, MIN_ID_GERENCIA, MAX_ID_GERENCIA)

# Inicialização do cromossomo (quantos genes o cromossomo deve possuir)
toolbox.register("individual", gerador_individuo, creator.Individual)

# Registro do individuo na população
toolbox.register("population", tools.initRepeat, list, toolbox.individual)

# Registro do nome da função objetivo
toolbox.register("evaluate", funcao_objetivo)

# Registro da função de penalidade caso o individuo não obedeça as restrições
toolbox.decorate("evaluate", tools.DeltaPenalty(funcao_de_restricao, 0))

# Registro de qual o tipo de cruzamento deve ser utilizado (cruzamento de 2 pontos)
toolbox.register("mate", crossover_two_point, creator.Individual)

# Registro de qual tipo de mutação deve ser utilizado (probabilidade de um individuo sofrer mutação)
toolbox.register("mutate", mutacao, indpb=0.25)

# Registro de qual o tipo do método de seleção que será utilizado
toolbox.register("select", tools.selTournament, tournsize=5)

C:\Users\U4DD\AppData\Roaming\Python\Python312\site-packages\deap\creator.py:185: RuntimeWarning: A class named 'Fitness' has already been created and it will be overwritten. Consider deleting previous creation of that class or rename it.
  warnings.warn("A class named '{0}' has already been created and it "
C:\Users\U4DD\AppData\Roaming\Python\Python312\site-packages\deap\creator.py:185: RuntimeWarning: A class named 'Individual' has already been created and it will be overwritten. Consider deleting previous creation of that class or rename it.
  warnings.warn("A class named '{0}' has already been created and it "

In [ ]:
pop = toolbox.population(n=100)                           # inicialização da pop
hof = tools.HallOfFame(10)                                # melhores indivíduos
stats = tools.Statistics(lambda ind: ind.fitness.values)  # estatísticas
stats.register("avg", np.mean)
stats.register("std", np.std)
stats.register("min", np.min)
stats.register("max", np.max)

In [ ]:
pop, log = algorithms.eaSimple(pop, toolbox, cxpb=0.4, mutpb=0.6, ngen=50, stats=stats, halloffame=hof, verbose=True)

gen	nevals	avg	std	min	max
0  	100   	0  	0  	0  	0
1  	76    	0.469312	0.440375	0  	1.32618
2  	73    	0.773426	0.342167	0  	1.32618
3  	77    	0.847412	0.312115	0  	1.3761
4  	87    	0.838331	0.361056	0  	1.42741
5  	80    	0.823884	0.376679	0  	1.43625
6  	72    	0.895279	0.332163	0  	1.43625
7  	78    	0.903618	0.370696	0  	1.43625
8  	69    	0.949096	0.374249	0  	1.47025
9  	76    	0.969693	0.385868	0  	1.47025
10 	76    	0.934328	0.395526	0  	1.47025
11 	70    	0.969928	0.418394	0  	1.47025
12 	75    	1.06606 	0.420177	0  	1.48933
13 	77    	0.997699	0.458842	0  	1.47752
14 	78    	1.03706 	0.411945	0  	1.50824
15 	75    	0.989367	0.432212	0  	1.50824
16 	86    	0.962634	0.444646	0  	1.50824
17 	69    	1.13033 	0.38281 	0  	1.50824
18 	72    	1.12804 	0.426968	0  	1.50824
19 	78    	1.06667 	0.432942	0  	1.51798
20 	79    	1.03602 	0.463173	0  	1.51798
21 	67    	1.11412 	0.45588 	0  	1.51798
22 	71    	1.1142  	0.409198	0.311741	1.51798
23 	73    	1.09274 	0.400267	0       	1.51798
24 	71    	1.14582 	0.393861	0       	1.51798
25 	82    	1.05507 	0.412095	0       	1.51798
26 	69    	1.0914  	0.448657	0       	1.51798
27 	68    	1.06443 	0.418987	0       	1.51798
28 	72    	1.13819 	0.425249	0       	1.51798
29 	69    	1.10806 	0.431828	0       	1.51798
30 	82    	1.14577 	0.394213	0       	1.51798
31 	84    	1.0807  	0.455907	0       	1.51798
32 	80    	1.13269 	0.377621	0.328147	1.51798
33 	83    	1.07029 	0.433687	0       	1.59525
34 	78    	1.12312 	0.383968	0       	1.59525
35 	77    	1.08063 	0.4217  	0.224083	1.59525
36 	73    	1.08703 	0.424051	0.170511	1.59525
37 	74    	1.12865 	0.423974	0       	1.59525
38 	76    	1.08575 	0.413185	0.192448	1.59525
39 	78    	1.18747 	0.40871 	0.259601	1.59525
40 	67    	1.18643 	0.442651	0.214357	1.59525
41 	77    	1.21447 	0.403576	0.215271	1.59525
42 	74    	1.14379 	0.442597	0       	1.59525
43 	75    	1.06404 	0.465804	0       	1.59525
44 	74    	1.08599 	0.437311	0       	1.59525
45 	72    	1.09243 	0.440182	0       	1.59525
46 	78    	1.11283 	0.445033	0       	1.59525
47 	74    	1.10865 	0.464732	0.206989	1.59525
48 	75    	1.09241 	0.452994	0.217485	1.59525
49 	71    	1.10054 	0.434148	0       	1.59525
50 	82    	1.0823  	0.455326	0       	1.59525

In [ ]:
# Melhores soluções
print("Melhores Indivíduos:")

qtd_pessoas_com_total = df_pessoas_por_gerencia.copy()
qtd_pessoas_com_total.loc['Total'] = 'Total'

for ind in hof:
    melhor = pd.DataFrame(ind, columns=COLUNAS_DIAS)
    melhor.loc['Total'] = pd.Series(melhor.sum())
    resultado_completo = qtd_pessoas_com_total.join(melhor)[['Gerência'] + COLUNAS_DIAS]
    display(resultado_completo)
    print(funcao_de_restricao(ind))
    print(funcao_objetivo(ind))

Melhores Indivíduos:

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        0      1       0       0      1
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado       13     13       0       0      0
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado       18     18       0       0      0
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado        0      0       0      24     24
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        4      0       0       4      0
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado        0      0       0      13     13
20          K_Próprio        0      0      11      11     11
21     K_Terceirizado        0      0       0       1      1
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        0      0       0       4      4
Total           Total      221    259     273     251    217

True
(np.float64(1.5952547532477568),)

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        0      1       0       0      1
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado       13     13       0       0      0
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado       18     18       0       0      0
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado        0      0       0      24     24
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        0      0       0       4      4
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado        0      0       0      13     13
20          K_Próprio        0      0      11      11     11
21     K_Terceirizado        0      0       0       1      1
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        0      0       0       4      4
Total           Total      217    259     273     251    221

True
(np.float64(1.5952547532477568),)

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        0      1       0       0      1
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado       13     13       0       0      0
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado       18     18       0       0      0
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado        0      0       0      24     24
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        0      0       0       4      4
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado       13      0       0      13      0
20          K_Próprio        0      0      11      11     11
21     K_Terceirizado        0      0       0       1      1
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        0      0       0       4      4
Total           Total      230    259     273     251    208

True
(np.float64(1.5868560177358149),)

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        1      1       0       0      0
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado       13     13       0       0      0
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado        0     18       0       0     18
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado       24      0       0      24      0
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        0      0       0       4      4
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado        0      0       0      13     13
20          K_Próprio        0      0      11      11     11
21     K_Terceirizado        0      0       0       1      1
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        0      0       0       4      4
Total           Total      224    259     273     251    214

True
(np.float64(1.5866234380210456),)

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        1      0       0       1      0
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado       13     13       0       0      0
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado       18     18       0       0      0
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado        0      0       0      24     24
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        0      0       0       4      4
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado        0      0       0      13     13
20          K_Próprio        0      0      11      11     11
21     K_Terceirizado        0      0       0       1      1
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        0      0       0       4      4
Total           Total      218    258     273     252    220

True
(np.float64(1.5576386951047654),)

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        1      0       0       1      0
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado        0      0       0      13     13
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado       18     18       0       0      0
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado        0      0       0      24     24
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        0      0       0       4      4
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado        0      0       0      13     13
20          K_Próprio       11     11      11       0      0
21     K_Terceirizado        0      0       0       1      1
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        0      0       0       4      4
Total           Total      216    256     273     254    222

True
(np.float64(1.5576386951047652),)

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        0      0       0       1      1
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado       13     13       0       0      0
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado       18     18       0       0      0
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado        0      0       0      24     24
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        0      0       0       4      4
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado        0      0       0      13     13
20          K_Próprio        0      0      11      11     11
21     K_Terceirizado        0      0       0       1      1
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        0      0       0       4      4
Total           Total      217    258     273     252    221

True
(np.float64(1.55642761931733),)

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        0      1       0       0      1
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado       13      0       0      13      0
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado       18     18       0       0      0
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado        0      0       0      24     24
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        0      0       0       4      4
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado        0     13       0       0     13
20          K_Próprio        0      0      11      11     11
21     K_Terceirizado        1      0       0       1      0
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        0      0       0       4      4
Total           Total      218    259     273     251    220

True
(np.float64(1.554807365472313),)

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        0      1       0       0      1
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado       13     13       0       0      0
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado       18     18       0       0      0
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado        0      0       0      24     24
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        0      0       0       4      4
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado        0      0       0      13     13
20          K_Próprio        0      0      11      11     11
21     K_Terceirizado        0      0       0       1      1
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        4      0       0       4      0
Total           Total      221    259     273     251    217

True
(np.float64(1.5535880865810903),)

             Gerência  Segunda  Terça  Quarta  Quinta  Sexta
0           A_Próprio        4      4       4       0      0
1      A_Terceirizado        0      0       0       0      0
2           B_Próprio        0     17      17       0     17
3      B_Terceirizado        0      1       0       0      1
4           C_Próprio        0      0      61      61     61
5      C_Terceirizado       13     13       0       0      0
6           D_Próprio        3      3       3       0      0
7      D_Terceirizado        0      0       0       0      0
8           E_Próprio       52     52      52       0      0
9      E_Terceirizado        8      8       0       0      0
10          F_Próprio        0     72       0      72     72
11     F_Terceirizado       18     18       0       0      0
12          G_Próprio       35     35      35       0      0
13     G_Terceirizado        0      0       0      24     24
14          H_Próprio        0      0       0       0      0
15     H_Terceirizado        0      0       0       4      4
16          I_Próprio       29     29      29       0      0
17     I_Terceirizado        7      7       0       0      0
18          J_Próprio       48      0      48      48      0
19     J_Terceirizado        0      0       0      13     13
20          K_Próprio        0      0      11      11     11
21     K_Terceirizado        1      1       0       0      0
22          L_Próprio        0      0      13      13     13
23     L_Terceirizado        0      0       0       4      4
Total           Total      218    260     273     250    220

True
(np.float64(1.5511391029141843),)